/* game board table */
body {
  background-image: url(https://images.unsplash.com/photo-1531525645387-7f14be1bdbbd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGdhbWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: auto;
  width: 70%;
  padding: 10px;
  background-color: blanchedalmond;
  opacity: 90%;
}

#board {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 50px;
  background-color: blanchedalmond;
  opacity: 90%;
}

.input-group {
  margin: auto;
  width: 70%;
  padding: 10px;
  margin-top: 30px;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}